*{
    box-sizing: border-box;
}

.headerContainer{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headerContainer img{
    width: 100px;
    position:absolute;
    padding: 10px;
}
.headerContainer h1{
    position:absolute;
    padding: 10px;
    left: 95px;
    top: 30px;
    color:rgb(28, 158, 61);
    font-size: xx-large;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
}

.headerContainer p{
    position:absolute;
    padding: 10px;
    left: 102px;
    top: 62px;
    color:goldenrod;
    font-size:medium;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
}

.mainContainer{
    clear: both;
    top: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mainColumnLeft{
    position: relative;
    top: 150px;
    clear: both;
    float: left;
    width: 40%;
    padding: 5px;
}

.mainColumnRight{
    float: left;
    width: 60%;
    padding: 5px;
}

#unList li{
    margin-bottom: 15px;
    text-align: left;
    font-size: small;
    font-family: monospace;
    border: double goldenrod;
    padding: 5px;

}

.textContainer{
    position:relative;
    margin-top: 50px;
    clear: both;
    top: 100px;
}

.textContainer p{
    clear: both;
    margin-left: 5px;
    margin-right: 5px;
    position:relative;
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
}

#imgContainer h2{
    clear: both;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 150px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-family: monospace;
}

#imgContainer img{
    clear: both;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 180px;
}



#firstImg{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

#firstImg:hover{
    cursor: pointer;
    border: solid rgb(28, 158, 61);
    border-radius: 30px;
}

#secondImg{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

#secondImg:hover{
    cursor: pointer;
    border: solid rgb(28, 158, 61);
    border-radius: 30px;
}

#thirdImg{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

#thirdImg:hover{
    cursor: pointer;
    border: solid rgb(28, 158, 61);
    border-radius: 30px;
}

#btn{
    clear: both;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: goldenrod;
    background-color: rgb(28, 158, 61);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    top: 180px;
    left: 230px;
}

#btn:hover{
    color: rgb(28, 158, 61);
    background-color: goldenrod;
}

footer p{
    clear: both;
    position: relative;
    top: 300px;
    text-align: center;
    color:rgb(28, 158, 61);
    font-size:medium;
    font-family: 'Fredoka One', cursive;
    padding: 50px;
}
footer{
    margin-bottom: 30px;
    clear: both;
}